<div data-style-container="projects">
  <div data-style-title>
      <h1>projects</h1>
      <h3>here's some stuff i've built</h3>
  </div>
  <div data-style-projects>
    <div [attr.data-style-project]="isMobile ? 'mobile' : 'desktop'"><b>Personal Website</b></div>
    <div [attr.data-style-project]="isMobile ? 'mobile' : 'desktop'"><b>coming soon...</b></div>
    <div [attr.data-style-project]="isMobile ? 'mobile' : 'desktop'"><b>coming soon...</b></div>
    <div [attr.data-style-project]="isMobile ? 'mobile' : 'desktop'"><b>coming soon...</b></div>
    <div [attr.data-style-project]="isMobile ? 'mobile' : 'desktop'"><b>coming soon...</b></div>
    <div [attr.data-style-project]="isMobile ? 'mobile' : 'desktop'"><b>coming soon...</b></div>
  </div>
  <app-footer-links></app-footer-links>
</div>
