.top {
    background: blue;
    height: 200px;
}
.bottom {
    background: red;
    height: 200px;
}
.body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 12vh 10vw;
    font-family: 'Muli', sans-serif;
    min-height: 72vh;
    app-body {
        height: 100%;
    }
}