<div data-style-container="blogEntry">
  <ng-container *ngIf="isBlog('acappella'); else elseif1">
    <div data-style-title>
        <h1>The Water Boys</h1>
        A year of unforgettable memories <br>
        <i style="font-size: 13px;">Published January 10, 2018</i>
        <div class="rectangle blue"></div>
    </div>
    <div [attr.data-style-blog-content]="isMobile ? 'mobile' : 'desktop'">
      <!-- <h2 style="margin-top: 0">Preface</h2>  -->
      <p>If you've never heard of <b><i>A Cappella</i></b>, I highly recommend listening to 
        <a class="highlight blue" target="_blank" href="https://www.youtube.com/watch?v=tffl66nJPWY">this</a>. Essentially, it's 
        just singing without instruments. In this blog I'll tell you about my audition process, and about the time I've spent on The
        Water Boys, from competing <i>internationally</i> to becoming Vice President 👀 Sit back relax and enjoy my mediocre storytelling! 
        <i>Let's dive in</i> 💦💦
      </p>
      <div picture>
          <img src="../../../assets/icca_sf2018_1.jpg"/>
          <p>The Water Boys, all wearing the bomber jackets designed by Rock Zhou and I @ Boston University.</p>
        </div>
      <p>Prior to coming to Waterloo, my musical experience was extremely casual. I was a <b><i>very</i></b> passionate shower singer, and 
        I sang and played guitar in a small band with friends - we called ourselves
        <span class="highlight blue"><a target="_blank" href="https://www.youtube.com/channel/UC_Rm2w1FATiuM50vjruPq2g">TEAM</a></span> - 
        which was super fun but we didn't take ourselves too seriously. My friend and I heard about The WBs, and honestly I wasn't even
        going to audition, but he convinced me to do it for fun. <b>Voila</b>, I had an audition slot for the next week..
      </p>


      <h2>How did it go??</h2>
      <p>My friend and I had our auditions at around 8PM, so we got there early to warm up, and he was up first. Since we were doing it for jokes,
        I didn't think I'd be as nervous as I was. But these guys were <b><i>legends</i></b>. I mean they literally made it to
        <a class="highlight blue" target="_blank" href="https://www.youtube.com/watch?v=dWkWmII9O-8">Finals</a> (top 10 
        Worldwide) last year, so I was definitely intimidated. I remember pacing around in circles until it was finally my turn.
      </p>
      <p>We started with a <b>range test</b>, something I had never actually done before. I was able to hit a G4 and 
        an Eb2. At the time I had zero idea what this meant, but hey turns out this is pretty decent! We then tried my falsetto, but I was literally
        <i>shaking</i> from the nerves, so instead of falsetto I made like a small frog sound 😬 Oops.
      </p>
      <p>Next up was the <b>solo pieces</b>. I had prepared two songs: 
        <a class="highlight blue" target="_blank" href="https://www.youtube.com/watch?v=e-fA-gBCkj0">Locked out of Heaven</a> by Bruno Mars and 
        <a class="highlight blue" target="_blank" href="https://www.youtube.com/watch?v=2Vv-BfVoq4g">Perfect</a> by Ed Sheeran. I ended up having
        to sing the first song multiple times, each one progressively higher than the next, and damn that stressed me out. Overall though, I thought
        they went pretty well!
      </p>
      <p>Finally, I was handed a piece of sheet music. Then they told me to <i>sing it</i>. I was like <i>ok this is where I die it's okay I've made
        it pretty far.</i> They were very helpful though, and worked with me through the <b>sight reading</b> section of the audition. At the end,
        I got offered a Timbit and left on an emotional high.
      </p>
      <p>Amazingly, that night we both got emails inviting us to callbacks! After that, I was accepted into the group as a Baritone, and suddenly 
        I had joined the A Cappella world at Waterloo. <b>Pretty neat right</b> ✌
      </p>


      <h2>Highlights from Fall '17</h2>
      <p>My first term in The Water Boys was such a good time that I decided to stick with it for the next two years! Here's a quick little recap
        of all the things (that I found) exciting during term numero uno:
      </p>
      <ul noMargin>
        <li><i>Elkhorn</i>, my first solo</li>
        <li>Sang in front of Feridun #iykyk</li>
        <li>Getting Mikey's (you'll be missed) w the boys</li>
        <li>Singing at BBT after EOT</li>
      </ul>
      <div picture>
        <img src="../../../assets/wb_fall2017_3.jpg"/>
        <p>Performing Dangerous Woman, by Ariana Grande, @ Fall 2017's Club EOT Concert.</p>
      </div>


      <h2>ICCA Quarterfinals @ UWaterloo</h2>
      <p>On February 18th, 2018, we competed in the
        <a class="highlight blue" target="_blank" href="https://en.wikipedia.org/wiki/International_Championship_of_Collegiate_A_Cappella">
          International Championship of Collegiate A Cappella</a> (ICCA). This term, the majority of our members were new as the older ones had
          left for their co-op terms. I was honoured to be chosen as <b>Section Leader</b> for the Baritone 1s, and led by our Musical Directors
          Yamen and Wes, we began our preparation. Because of the large A Cappella club here at UWaterloo(biggest in Canada, actually), the ICCA
          Quarterfinals were held here! Of the 10 teams to compete, the top two teams would then advance to Semifinals, and only the
          <span class="highlight yellow">1st</span> place team would progress to Finals.
      </p>
      <p>It was an amazing experience being able to see other A Cappella groups from around Ontario perform. After our performance, we were
        happy with ourselves, but we were so sure that the other groups were going to win. Contrary to this though, <b>we placed second!</b>
        This meant that we were advancing to Semifinals! We surpassed all expectations, and I remember the feeling of hearing our name announced
        on stage - what an incredible feeling. A list of awards can be found 
        <a class="highlight blue" target="_blank" href="https://varsityvocals.com/results-page/?fwp_year=2018&fwp_type=icca&fwp_venue=university-of-waterloo">here</a> 
        (UW actually won every award possible 🤙).
      </p>
      <div picture>
        <img src="../../../assets/icca_qf2018.jpg"/>
        <p>The Water Boys, after placing 2nd @ 2018 ICCA Quarterfinals at the University of Waterloo.</p>
      </div>
      <p>Next up: Queen's A Cappella Competition! We wanted to use this as an opportunity to fine-tune our performance, so we packed our
        bags and headed to Queen's University.
      </p>


      <h2>Queen's A Cappella Competition</h2>
      <p>The venue at Queen's was incredible. The stage had seats a full 360° around the stage, so the audience would be watching
        from all directions. My friend's from Kingston and he was pretty happy to hear that I enjoyed the city's landmark university.
      </p>
      <p>After a very loud 3 hour carride full of singers <i>singing badly but also really well at times</i>, we got to our destination 
        and met the other groups performing. They were mostly from Queen's, Waterloo, and a team from McGill was also there. My personal
        favourite performance was by the Trillers, who ended up placing 2nd. We placed third, behind In Full Colour, another team from UW
        that also won the ICCA Quarterfinals. Overall? Pretty fun weekend. I got to see my friends that go to Queen's, and spent some quality
        bonding time with the boys. 
      </p>


      <h2>ICCA Semifinals @BostonU</h2>
      <p><b>Big finale time</b>. Winning here meant we'd get the chance to perform on stage at <i><b>Broadway Theatre</b>, New York</i>, in front 
        of the world. We were all insanely excited to go - it's not everyday you get to travel to the States to compete in a singing competition.
      </p>
      <p>The semifinals were hosted at Boston University, which by the way has an enormous campus. I learned this by spending a considerable
        portion of the day getting lost driving around, trying to find the allocated parking spots. I remember getting food at this one burrito
        store that charged way too much for a chicken wrap, and on top of that I lost the change. Tasted a solid 6.5/10 though.
      </p>
      <p>Competition day came upon us, and we spent the morning warming up, doing soundcheck, and checking out the venue. Boston University's 
        theatre was huge, and almost demanded importance. After some final preparations, the competition began! We were listed to go during the
        first half, and after listening to some performances by other groups, it was clear that the bar had been raised. A lot. It was finally
        our turn to perform. I still won't forget the feeling of going on stage and performing the set we had worked so hard to perfect. Every
        member left it all on stage, and I am so proud of what we were able to accomplish. You can view our performance 
        <a class="highlight blue" target="_blank" href="https://www.youtube.com/watch?v=90tqk01XHDo">here</a> .
      </p>
      <p>After the break, we had the opportunity to watch the remaining groups perform. I was absolutely floored by the talent showcased that
        day. Unfortunately, we didn't end up placing. The <b>Potsdam Pitches</b> won 1st place, followed by our very own In Full Colour from
        Waterloo! The competition was amazing, and this is definitely an experience I will never forget. 
      </p>
      <div picture>
          <img src="../../../assets/icca_sf2018_2.jpg"/>
          <p>The Water Boys, after performing @ 2018 ICCA Semifinals.</p>
      </div>
      <p>Thank you Yamen, Jake, Alex, Nick, Zack, DGuo, Angelo, Rock, Flint Ross, Wes, Paknys, Lumibao, Ravindu, Hayes and Ryan for an 
        unforgettable term. We all poured blood, sweat and tears into putting on the best show possible, and you should be proud. 
      </p>


      <!-- <h2>First term as Vice President</h2>
      <p>Last term, I was elected as Vice President for the Fall 2018 term

      </p> -->
    </div>
  </ng-container>
  <ng-template #elseif1>
    <ng-container *ngIf="isBlog('entry'); else else1">entry</ng-container>
  </ng-template>
  <ng-template #else1>This blog does not exist!</ng-template>
  <app-footer-links></app-footer-links>
</div>
