<div class="nav-container">
    <div data-style-platform="desktop" id="nav-desktop" *ngIf="!isMobile">
        <div style="background: white">
            <div class="menuButton" (click)="toggleMenu()"></div>
        </div>
        <div [ngClass]="isMenuOpen ? 'menu here' : 'menu notHere'">
            <a *ngIf="show('')" routerLink="/" (click)="switchTabs()">home.</a>
            <a *ngIf="show('me')" routerLink="/me" (click)="switchTabs()">me.</a>
            <a *ngIf="show('projects')" routerLink="/projects" (click)="switchTabs()">projects.</a>
            <a *ngIf="show('experience')" routerLink="/experience" (click)="switchTabs()">experience.</a>
            <a *ngIf="show('blog')" routerLink="/blog" (click)="switchTabs()">blog.</a>
        </div>
    </div>
    <div data-style-platform="mobile" id="nav-mobile" *ngIf="isMobile">
        <div class="menuButton" (click)="toggleMenu()"></div>
        <div [ngClass]="isMenuOpen ? 'menu here' : 'menu notHere'">
            <div data-style-mobile-nav>
                <h1>Gordon Le</h1>
                <div class="smallRect"></div>
                <div data-style-links>
                    <a routerLink="" (click)="switchTabs()">home.</a>
                    <a routerLink="me" (click)="switchTabs()">me.</a>
                    <a routerLink="projects" (click)="switchTabs()">projects.</a>
                    <a routerLink="experience" (click)="switchTabs()">experience.</a>
                    <a routerLink="blog" (click)="switchTabs()">blog.</a>
                </div>
                <app-footer-links></app-footer-links>
            </div>
        </div>
    </div>

</div>