<div data-style-container="blog">
  <h1>blog</h1>
  <h3>my collection of anecdotes</h3>
  <table style="width: 100%">
    <tr data-style-entry="acappella" (click)="goToBlog('acappella')">
      <td class="sideRectangle blue"></td>
      <td class="titles">
        <h2>The Water Boys</h2> 
        <h4>Hey I sing in a boy band</h4>
        <i>- aug '18 -</i>
      </td>
    </tr>
    <!-- <tr data-style-entry="first_year" (click)="goToBlog('first_year')">
      <td class="sideRectangle green"></td>
      <td class="titles">
        <h2>a self reflection</h2> 
        <h4>After a full year of University, I've been able to learn a lot about myself</h4>
        <i>- oct '18 -</i>
      </td>
    </tr>
    <tr data-style-entry="1A coop" (click)="goToBlog('1A_coop')">
      <td class="sideRectangle red"></td>
      <td>
        <h2>1A coop: Imagine Communication</h2>
        <h4>Free food, a full stack, lots of boardgames, and a great experience at my first co-op</h4>
        <i>- aug '18 -</i>
      </td>
    </tr>
    <tr data-style-entry="acappella" (click)="goToBlog('acappella')">
      <td class="sideRectangle blue"></td>
      <td>
        <h2>acappella</h2>
        <h4>Who would've thought I'd be competing in an international competition</h4>
        <i>- may '18 -</i>
      </td>
    </tr>
    <tr data-style-entry="cooking" (click)="goToBlog('howdoicook')">
      <td class="sideRectangle yellow"></td>
      <td>
        <h2>first time cooking</h2>
        <h4>how the hell do i do this</h4>
        <i>- nov '17 -</i>
      </td>
    </tr> -->
  </table>
  <app-footer-links></app-footer-links>
</div>